.Profile {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  height: 100vh; 
  width: 100%;
  background-color: rgb(18, 18, 18);
  background: linear-gradient(90deg, #131313 50%, #000000 50%);
}



.profile {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 25px rgb(49, 49, 49);
  background: linear-gradient(90deg, #131313 50%, #000000 50%);
  margin-top: 150px;
}

form h4 {
  font-size: 35px;
  letter-spacing: 2px;
  color: #e9b57a;
  margin: 15px 0px 25px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nameLabel p {
  font-size: 20px;
  font-weight: bold;
  color: #bdbdbd;
  text-align: center;
  margin-bottom: 30px;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.personal input {
  width: 300px;
  padding: 10px 15px;
  margin: 5px;
  margin-bottom: 20px;
  padding-left: 8px;
  border: 1px solid #1d1d1d;
  background: black;
  color: #cacaca;
  letter-spacing: 1px;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #e9b57a;
}

.profileBtn button{
  width: 130px;
  height: 40px;
  padding: 2px;
  margin: 12px 0;
  background-color: #e9b57a;
  color: black;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 0.5s ease;
}
.profileBtn button:hover{
  box-shadow: 0 0 15px #e9b57a;
}



@media (max-width: 900px){
  .profile {
    width: 600px;
  }
  .personal {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 670px) {
  .profile {
    width: 350px;
  }
}