* {
    video::-webkit-media-controls {
    display: none;
  }
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(19, 19, 19);
    top: 0;
    z-index: 3;
}

.authForm {
    width: 900px;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #e96b0a;
    position: relative;
    transition: box-shadow 0.3s ease;
}
.authForm:hover {
    box-shadow: 0 0 10px #e96b0a, 0 0 20px rgba(233, 107, 10, 0.5); 
}


.authFormLeft video {
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 41%;
    height: 100%;
    border-radius: 20px;
}

.authFormRight {
    position: absolute;
    height: 400px;
    right: 110px;
}
.authFormRight h1 {
    text-align: center;
    letter-spacing: 2px;
}
.authFormRight input {
    position: relative;
    outline: none;
    padding: 5px 22px 5px 5px;
    letter-spacing: 1px;
    background: transparent;
    border: inherit;
    border-bottom: 1px solid;
}

.authFormRight img {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 53px;
    padding-top: 4px;
}

.authForm button {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    background-color: #e96b0aeb;
    transition: 0.4s ease;
}
.authForm button:hover {
    background-color: #616161;
}

.authFormRight p {
    text-align: center;
}
.authFormRight a {
    padding: 5px;
    color: #e96b0a;
}
.authFormRight a:hover {
    color: #616161;
}


.formContain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 10px #e96b0a;
    border-color: #e96b0a;
    padding: 50px;
    border-radius: 15px;
}
.formContain div {
    display: flex;
    flex-direction: column;
}
@media (max-width: 710px) {
    .authForm {
        border: none;
        box-shadow: none;
    }
    .authForm:hover {
        box-shadow: none;
    }
    .authFormLeft video{
        display: none;
    }
}
@media (max-width: 450px) {
    .authFormRight {
        position: absolute;
        top: 16%;
        left: 13%;
        width: 300px;
    }
}