* {
    video::-webkit-media-controls {
    display: none;
  }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(21, 21, 21);
    top: 0;
    z-index: 3;
}


.authForm {
    width: 900px;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 5px black;
    position: relative;
    background: repeating-conic-gradient(from var(--a), #fec195 0%, #fec195 5%, transparent 5%, transparent 40%, #fec195 50%);
    animation: animate 12s linear infinite;
}
.authForm::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: rgb(21, 21, 21);
    border-radius: 20px;
    z-index: -1;
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a: 360deg;
    }
}

.authFormLeft video {
    position: absolute;
    left: 9px;
    bottom: 9px;
    object-fit: cover;
    width: 39%;
    height: 97%;
    border-radius: 20px;
}

.authFormRight {
    position: absolute;
    height: 400px;
    right: 110px;
}
.authFormRight h1 {
    text-align: center;
    letter-spacing: 2px;
    color: white;
}
.authFormRight input {
    outline: none;
    padding: 5px 22px 5px 5px;
    letter-spacing: 1px;
    background: transparent;
    border: inherit;
    color: white;
    border-bottom: 1px solid white;
}
.authFormRight input:focus {
    border-bottom: 1px solid #fec195;
}

.authFormRight img {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0px;
    padding-top: 4px;
}

.authForm button {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    background-color: #fec195;
    transition: 0.4s ease;
}
.authForm button:hover {
    background-color: #616161;
}

.authFormRight p {
    text-align: center;
    color: white;
}
.authFormRight a {
    padding: 5px;
    color: #fec195;
}
.authFormRight a:hover {
    color: #616161;
}


.formContain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 10px #fec195;
    border-color: #fec195;
    padding: 50px;
    border-radius: 15px;
}
.formContain div {
    display: flex;
    flex-direction: column;
}
.formContain input {
    outline: none;
    padding: 5px 22px 5px 5px;
    letter-spacing: 1px;
    background: transparent;
    color: white;
    border: inherit;
    border-bottom: 1px solid white;
}
.inputs {
    position: relative;
}
.formContain img {
    position: absolute;
    right: 0;
    width: 17px;
    height: 17px;
    padding-top: 5px;
}



.registrFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(21, 21, 21);
    top: 0;
    z-index: 3;
}
.registrFormContainer input:focus {
    border-bottom: 1px solid #fec195;
}

.authFormRegistr {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 5px black;
    position: relative;
    background: repeating-conic-gradient(from var(--a), #fec195 0%, #fec195 5%, transparent 5%, transparent 40%, #fec195 50%);
    animation: animate 12s linear infinite;
}
.authFormRegistr::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: rgb(21, 21, 21);
    border-radius: 20px;
    z-index: -1;
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a: 360deg;
    }
}

.authFormRegistr .formContain {
    display: flex;
    justify-content: center;
    height: 280px;
    margin-right: 110px;
    margin-bottom: 30px;
}
.authFormRegistr form button {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    background-color: #fec195;
    transition: 0.4s ease;
}
.authFormRegistr form button:hover {
    background-color: #616161;
}

.authFormRegistr p {
    position: absolute;
    bottom: 70px;
    right: 180px;
}
.authFormRegistr a {
    padding: 5px;
    color: #fec195;
}
.authFormRegistr a:hover {
    color: #616161;
}
.authFormRegistr p {
    color: white;
}

.formIcon ul{
    display: flex;
    gap: 15px;

}

@media (max-width: 710px) {
    .authForm {
        border: none;
        box-shadow: none;
    }
    .authForm:hover {
        box-shadow: none;
    }
    .authFormLeft video{
        display: none;
    }
    .authFormRegistr {
        box-shadow: none;
    }
    .authFormRegistr:hover {
        box-shadow: none;
    }
    .authForm {
        background: none;
    }
    .authForm::after {
        display: none;
    }
    .authFormRegistr {
        background: none;
    }
    .authFormRegistr::after{
        display: none;
    }
    
}


@media (max-width: 450px) {
    .authFormRight {
        position: absolute;
        top: 16%;
        left: 13%;
        width: 300px;
    }
}
