.Header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10px;
    font-size: 18px;
    font-weight: bold;
}

.Header h2 {
    position: absolute;
    top: 15px;
    color: #e9b57a;
    font-size: 30px;
    letter-spacing: 2px;
    z-index: 1;
    opacity: 0; 
    transform: translateX(-200px); 
    animation: slideDown 2s forwards; 
}


@keyframes slideDown {
to {
    opacity: 1;
    transform: translateX(0px);
}
}