@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.headerRight {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;
}

.headerRight button {
    width: 146px;
    height: 40px;
    margin-left: 50px;
    color: black;
    font-size: 15px;
    padding: 5px;
    background-color: #FE8400;
    transition: 0.4s ease;
}
.headerRight button:hover {
    transform: scale(0.972);
    background-color: white;
    border: 1px solid;
}

.ulNav {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.ulNav a{
    font-size: 18px;
    font-family: "Itim", cursive;
    letter-spacing: 1px;
    color: rgb(107, 107, 107);
    position: relative; 
    text-decoration: none; 
    text-transform: uppercase;
}

.ulNav a:hover {
    color: #FE8400;
}

.ulNav a::after {
    content: ""; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    width: 0; 
    height: 2px; 
    background-color: #FE8400; 
    transition: width 0.4s ease, left 0.4s ease; 
}

.ulNav a:hover::after {
    width: 100%; 
    left: 0;   
}