@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.headerRight {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.headerRight button {
    width: 146px;
    height: 40px;
    margin-left: 50px;
    color: black;
    font-size: 15px;
    padding: 5px;
    background-color: #f1be8c;
    opacity: 0; 
    transform: translateX(200px); 
    animation: slideDown 2s forwards; 
    transition: 0.4s ease; 
}
.headerRight button:hover {
    transform: scale(0.972);
    background-color: rgb(182, 182, 182);
    border: 1px solid;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.ulNav {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.ulNav a{
    font-size: 17px;
    letter-spacing: 1px;
    color: rgb(114, 114, 114);
    position: relative; 
    text-decoration: none; 
    transition: 0.5s ease;
}

.ulNav a:hover {
    color: #e9b57a;
}

.ulNav a::after {
    content: ""; 
    position: absolute; 
    left: 50%; 
    bottom: -1px; 
    width: 0; 
    height: 2px; 
    background-color: #e9b57a; 
    transition: width 0.6s ease, left 0.6s ease; 
}

.ulNav a:hover::after {
    width: 100%; 
    left: 0;   
}

.ulNav li {
    opacity: 0; 
    transform: translateY(30px); 
    animation: slideUp 0.5s forwards; 
    animation-delay: var(--animation-delay); 
    transition: all 2s ease; 
}


@keyframes slideUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.ulNav li:nth-child(1) { --animation-delay: 0.5s; }
.ulNav li:nth-child(2) { --animation-delay: 0.6s; }
.ulNav li:nth-child(3) { --animation-delay: 0.7s; }
.ulNav li:nth-child(4) { --animation-delay: 0.8s; }
.ulNav li:nth-child(5) { --animation-delay: 0.9s; }
.ulNav li:nth-child(6) { --animation-delay: 1s; }