:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

<<<<<<< HEAD
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
=======
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
>>>>>>> upstream/main

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  

}

* {
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container{
  max-width: 1120px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  max-width: 1439px;
  /* width: 1439px; */
  margin: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
