.div {
    position: absolute;
    top: 0;
    height: 300vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
    background: linear-gradient(90deg, #000000 50%, #131313 50%);
}

.aboutTitle {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.aboutTitle h1{
    color: #e9b57a;
    letter-spacing: 2px;
    position: relative;
}
.aboutTitle h1::after {
    content: '';
    display: block;
    bottom: 0; 
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #e9b57a;
}

.aboutMain {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}

.aboutMainLeft img{
    width: 780px;
    height: 500px;
    border-radius: 15px;
    animation: slideInLeft 2s ease-out forwards;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.aboutMainRight {
    width: 780px;
    animation: slideInRight 2s ease-out forwards;
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.aboutMainRight p {
    display: flex;
    flex-wrap: wrap;
    color: rgb(147, 147, 147);
    font-size: 22px;
    font-weight: 600;
}
.aboutMainRight h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #e9b57a;
}